{%  extends 'base.html' %}

{% block title %}Домашняя страница{% endblock %}

{% block content %}
    <h1 class="text-center display-4" style="color: blue">ToDo App Web</h1>
    <hr>
    <h3 class="text-center display-6">ToDo App Web - это веб-приложение которое поможет вам записать все свои задачи, а также следить за их выполнением</h3>
    {% if user.is_authenticated %}
        <div class="text-center">
            <a href="{% url 'persons:todo_list' %}" class="btn btn-success">Мои задачи <sup>{{ todo_count }}</sup></a>
        </div>
    {% endif %}

{% endblock %}